---
import AboutMe from "../components/index/aboutMe.astro";
import HeroBanner from "../components/index/heroBanner.astro";
import HowCanIHelpYou from "../components/index/howCanIHelpYou.astro";
import Parallax from "../components/index/parallax.astro";
import Services from "../components/index/services.astro";
import Team from "../components/index/team.astro";
import YouNeed from "../components/index/youNeed.astro";
import Separator from "../components/separator.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<HeroBanner/>
	<HowCanIHelpYou/>
	<div class="flex items-center justify-center mx-auto" data-aos="fade-down">
		<Separator/>
	</div>
	<AboutMe/>
	<Parallax/>
	<Team/>
	<div class="bg-terciary">
		<Services/>
	</div>
	<YouNeed/>
</Layout>
