---
import BreadCrumb from "../components/breadCrumb.astro";
import Button from "../components/button.astro";
import HeroSection from "../components/heroSection.astro";
import Layout from "../layouts/Layout.astro";
import type { BreadcrumbItem } from "../model/types";

const breadcrumbItems: BreadcrumbItem[] = [
	{ title: "Inicio", link: "/" },
	{ title: "Sobre mi" },
];
---

<Layout
	title="Sobre mí | Anabel Santana - Centro de Psicología"
	description="Conoce a Anabel Santana, psicóloga general sanitaria con amplia experiencia en el tratamiento de trauma, apego y desarrollo personal. Descubre su enfoque humano y profesional para ayudarte a mejorar tu bienestar emocional."
>
	<HeroSection
		image="/images/aboutMe/aboutMe.webp"
		title="Conóceme"
	/>
	<BreadCrumb items={breadcrumbItems} />

	<section class="max-w-7xl mx-auto px-4 md:px-6 lg:px-6 lg:my-8">
		<div class="mx-auto">
			<div class="grid md:grid-cols-3 md:gap-4 lg:gap-8">
				<div class="md:col-span-2">
					<div class="md:hidden block bg-white rounded-lg shadow-md p-4 mt-4 md:mt-0 mb-6 md:mb-8">
						
						<h2
							class="text-2xl font-semibold mb-4 font-merriweather text-corporate"
						>
							Anabel Santana Calcines
						</h2>
						<h3 class="text-xl font-semibold mb-2 font-lora">
							Directora y fundadora
						</h3>
						<h3 class="text-lg mb-2 font-lora">
							Psicóloga Sanitaria
						</h3>
						<h4 class="text-lg mb-2 font-lora">
							Colegiada P-02295
						</h4>
						<img
							src="/images/aboutMe/anabelSantanaMobile.webp"
							alt="Anabel Santana Calcines"
							class="w-auto h-full rounded-lg mx-auto"
						/>
					</div>
					<section class="bg-white rounded-lg shadow-md p-6 mb-6 md:mb-4 lg:mb-8">
						<h2
							class="text-2xl font-semibold mb-4 text-corporate font-merriweather"
						>
							Sobre mí
						</h2>
						<p class="mb-4 font-lora">
							Soy Licenciada en Psicología por la Universidad San
							Pablo-CEU en Madrid, siguiendo un itinerario
							vinculado al área de psicología clínica.
						</p>
						<p class="mb-4 font-lora">
							Tras licenciarme, completé mi formación realizando
							estudios de Máster en Psicología General Sanitaria,
							Máster en Adicciones, Postgrado en intervención
							práctica en Trauma y Apego, y expertos
							universitarios en intervención en crisis, protección
							a la infancia y adolescencia e intervención con
							menores infractores.
						</p>
						<p class="font-lora">
							Posteriormente en mi carrera profesional he podido
							trabajar en diferentes contextos tales como en
							protección a la infancia, centros de menores,
							intervención con familias, instituciones
							penitenciarias y atendiendo a personas con
							enfermedad mental grave. Actualmente cuento con más
							de 10 años de experiencia y presto servicios de
							psicología tanto con población infanto-juvenil como
							adultos, siguiendo un modelo integrador, utilizando
							diversas corrientes y técnicas psicológicas ,
							adaptándome a la persona.
						</p>
					</section>
					<section class="bg-white rounded-lg shadow-md p-6 mb-6 md:mb-4 lg:mb-8">
						<h2
							class="text-2xl font-semibold mb-4 text-corporate font-merriweather"
						>
							Formación
						</h2>
						<ul class="list-disc pl-5 space-y-2 font-lora">
							<li>
								Licenciada en Psicología (Universidad San Pablo
								CEU-Madrid)
							</li>
							<li>
								Máster Psicología General Sanitaria (Universidad
								Fernando Pessoa-Canarias)
							</li>
							<li>
								Máster en Profesorado especialidad Orientación
								Educativa (Universidad Alfonso X El Sabio
								Madrid)
							</li>
							<li>
								Máster Universitario en Adicciones (Universidad
								Complutense de Madrid)
							</li>
							<li>
								Postgrado de trabajo práctico con el trauma
								(Asociación Española del Trauma Psicológico)
							</li>
							<li>
								Experto en Duelo Infanto-Juvenil y adultos
								(Universidad Pablo de Olavide Sevilla)
							</li>
							<li>
								Experto en Delincuencia Juvenil e intervención
								penal con menores infractores (Universidad
								Autónoma de Madrid)
							</li>
							<li>
								Experto en orientación psicológica e
								intervención en crisis (Colegio Oficial de
								Psicólogos de Madrid)
							</li>
							<li>
								Experto en Acogimiento residencial y atención
								socioeducativa en centros de menores (UNED)
							</li>
							<li>
								Formación en intervención en situaciones de
								abuso sexual contra menores (Fundación Márgenes
								y Vínculos)
							</li>
							<li>
								Formación en Trastornos de Conducta en centros
								educativos (Universidad Pablo de Olavide
								Sevilla)
							</li>
						</ul>
					</section>
					<section class="bg-white rounded-lg shadow-md p-6 mb-6 md:mb-4 lg:mb-0">
						<h2
							class="text-2xl font-semibold mb-4 text-corporate font-merriweather"
						>
							Experiencia
						</h2>
						<ul class="list-disc pl-5 space-y-2 font-lora">
							<li>
								Directora y fundadora Centro de Psicología
								Anabel Santana
							</li>
							<li>
								Psicóloga en Hogar de Protección de menores en
								situación de desamparo
							</li>
							<li>
								Psicóloga en programa de intervención
								ambulatoria Protección a la Infancia y la
								Familia
							</li>
							<li>
								Psicóloga Centro de Acogida Inmediata de menores
							</li>
							<li>
								Psicóloga en Servicio Domiciliario Especializado
								en Trastorno Grave de Conducta
							</li>
							<li>
								Psicóloga estudio Servicio Canario de Salud
								pacientes con Diabetes Mellitus
							</li>
							<li>
								Psicóloga en Comunidad Terapéutica de Patología
								Dual Proyecto Hombre Madrid
							</li>
							<li>
								Psicóloga Programa de Agresores de Violencia de
								Género en Prisión Militar Alcalá-Meco
							</li>
							<li>
								Psicóloga intervención agresiones sexuales
								Prisión Militar Alcalá-Meco
							</li>
							<li>
								Psicóloga orientadora en Fundación ANAR- Madrid
							</li>
							<li>
								Psicóloga Servicio Interdisciplinar de Atención
								a las Drogodependencias Juzgados Plaza de
								Castilla Madrid
							</li>
						</ul>
					</section>
				</div>
				<div class="md:col-span-1">
					<div class="hidden md:block bg-white rounded-lg shadow-md p-6 mb-6 md:mb-4 lg:mb-8">
						<img
							src="/images/aboutMe/anabelSantana.webp"
							alt="Anabel Santana Calcines"
							class="w-full rounded-lg mb-4"
						/>
						<h2
							class="text-2xl font-semibold mb-4 font-merriweather text-corporate"
						>
							Anabel Santana Calcines
						</h2>
						<h3 class="text-xl font-semibold mb-2 font-lora">
							Directora y fundadora
						</h3>
						<h3 class="text-lg mb-2 font-lora">
							Psicóloga Sanitaria
						</h3>
						<h4 class="text-lg mb-2 font-lora">
							Colegiada P-02295
						</h4>
					</div>
					<div class="bg-white rounded-lg shadow-md p-6 mb-6 md:mb-4 lg:mb-8">
						<h2
							class="text-2xl font-semibold mb-4 text-corporate font-merriweather"
						>
							Comprometida con
						</h2>
						<ul class="list-disc pl-5 space-y-2 font-lora">
							<li>Espacio seguro</li>
							<li>Cercanía</li>
							<li>Acompañamiento</li>
							<li>Calidad profesional</li>
							<li>Dedicación</li>
							<li>Formación continua</li>
						</ul>
					</div>
					<div class="bg-white rounded-lg shadow-md p-6 mb-6 md:mb-4 lg:mb-0">
						<h2
							class="text-2xl font-semibold mb-4 text-corporate font-merriweather"
						>
							Especialidades
						</h2>
						<ul class="pl-2 space-y-2 font-lora">
							<li><span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded">Apego y vínculo</span></li>
							<li><span class="bg-gray-100 text-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded">Adultos, niños y adolescentes</span></li>
							<li><span class="bg-red-100 text-red-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded">⁠Reparación del trauma</span></li>
							<li><span class="bg-red-900 text-red-300 text-sm font-medium me-2 px-2.5 py-0.5 rounded">⁠Problemas en la infancia</span></li>
							<li><span class="bg-green-900 text-green-300 text-sm font-medium me-2 px-2.5 py-0.5 rounded">⁠Problemas en la adolescencia</span></li>
							<li><span class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded">Duelo infantil y adultos</span></li>
							<li><span class="bg-yellow-100 text-yellow-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded0">Regulación emocional</span></li>
							<li><span class="bg-indigo-100 text-indigo-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded">⁠Ansiedad y estrés</span></li>
							<li><span class="bg-purple-100 text-purple-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded">TOC</span></li>
							<li><span class="bg-purple-900 text-purple-300 text-sm font-medium me-2 px-2.5 py-0.5 rounded">Adicciones</span></li>
							<li><span class="bg-pink-100 text-pink-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded">Trastornos de personalidad</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="max-w-7xl mx-auto px-4 md:px-6 mb-6 ">
		<div class="border-2 border-corporate bg-green-100 rounded-lg p-6 text-center">
			<h2 class="text-2xl md:text-3xl font-bold font-merriweather text-gray-700 mb-4">
			  Pide cita con Psicología Infanto-Juvenil o Adultos
			</h2>
			<p class="text-gray-600 font-lora mb-6">
			  Cada historia es diferente, por eso adaptamos cada intervención a tus necesidades.
			</p>
			<Button href="https://wa.me/+34664206762" title="Contacta con nosotros" newTab="true"/>
		</div>
	</section>
</Layout>
