<div
    id="accordion-color"
    data-accordion="collapse"
    data-active-classes="bg-targetBorder text-white"
>
    <h2 id="accordion-color-heading-1">
        <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-semibold text-xl bg-beige rtl:text-right text-targetText border-2 border-b-0 border-targetBorder rounded-t-xl focus:ring-2 focus:ring-amber-900 hover:bg-targetBorder hover:text-white font-merriweather"
            data-accordion-target="#accordion-color-body-1"
            aria-expanded="true"
            aria-controls="accordion-color-body-1"
        >
            <span>Experiencia</span>
            <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 5 5 1 1 5"></path>
            </svg>
        </button>
    </h2>
    <div
        id="accordion-color-body-1"
        class="hidden bg-beige"
        aria-labelledby="accordion-color-heading-1"
    >
        <div class="p-5 border-2 border-b-0 border-targetBorder">
            <ul class="list-disc pl-5 space-y-2 font-lora">
                <li>
                    Directora y fundadora Centro de Psicología Anabel Santana
                </li>
                <li>
                    Psicóloga en Hogar de Protección de menores en situación de
                    desamparo
                </li>
                <li>
                    Psicóloga en programa de intervención ambulatoria Protección
                    a la Infancia y la Familia
                </li>
                <li>Psicóloga Centro de Acogida Inmediata de menores</li>
                <li>
                    Psicóloga en Servicio Domiciliario Especializado en
                    Trastorno Grave de Conducta
                </li>
                <li>
                    Psicóloga estudio Servicio Canario de Salud pacientes con
                    Diabetes Mellitus
                </li>
                <li>
                    Psicóloga en Comunidad Terapéutica de Patología Dual
                    Proyecto Hombre Madrid
                </li>
                <li>
                    Psicóloga Programa de Agresores de Violencia de Género en
                    Prisión Militar Alcalá-Meco
                </li>
                <li>
                    Psicóloga intervención agresiones sexuales Prisión Militar
                    Alcalá-Meco
                </li>
                <li>Psicóloga orientadora en Fundación ANAR- Madrid</li>
                <li>
                    Psicóloga Servicio Interdisciplinar de Atención a las
                    Drogodependencias Juzgados Plaza de Castilla Madrid
                </li>
            </ul>
        </div>
    </div>
    <h2 id="accordion-color-heading-2">
        <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-semibold text-xl bg-beige rtl:text-right text-targetText border-2 border-b-0 border-targetBorder focus:ring-2 focus:ring-amber-900 hover:bg-targetBorder hover:text-white font-merriweather gap-3"
            data-accordion-target="#accordion-color-body-2"
            aria-expanded="false"
            aria-controls="accordion-color-body-2"
        >
            <span>Formación</span>
            <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 5 5 1 1 5"></path>
            </svg>
        </button>
    </h2>
    <div
        id="accordion-color-body-2"
        class="hidden bg-beige"
        aria-labelledby="accordion-color-heading-2"
    >
        <div class="p-5 border-2 border-b-0 border-targetBorder">
            <ul class="list-disc pl-5 space-y-2 font-lora">
                <li>
                    Licenciada en Psicología (Universidad San Pablo CEU-Madrid)
                </li>
                <li>
                    Máster Psicología General Sanitaria (Universidad Fernando
                    Pessoa-Canarias)
                </li>
                <li>
                    Máster en Profesorado especialidad Orientación Educativa
                    (Universidad Alfonso X El Sabio Madrid)
                </li>
                <li>
                    Máster Universitario en Adicciones (Universidad Complutense
                    de Madrid)
                </li>
                <li>
                    Postgrado de trabajo práctico con el trauma (Asociación
                    Española del Trauma Psicológico)
                </li>
                <li>
                    Experto en Duelo Infanto-Juvenil y adultos (Universidad
                    Pablo de Olavide Sevilla)
                </li>
                <li>
                    Experto en Delincuencia Juvenil e intervención penal con
                    menores infractores (Universidad Autónoma de Madrid)
                </li>
                <li>
                    Experto en orientación psicológica e intervención en crisis
                    (Colegio Oficial de Psicólogos de Madrid)
                </li>
                <li>
                    Experto en Acogimiento residencial y atención socioeducativa
                    en centros de menores (UNED)
                </li>
                <li>
                    Formación en intervención en situaciones de abuso sexual
                    contra menores (Fundación Márgenes y Vínculos)
                </li>
                <li>
                    Formación en Trastornos de Conducta en centros educativos
                    (Universidad Pablo de Olavide Sevilla)
                </li>
            </ul>
        </div>
    </div>
    <h2 id="accordion-color-heading-3">
        <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-semibold text-xl bg-beige rtl:text-right text-targetText border-2 border-targetBorder focus:ring-2 focus:ring-amber-900 hover:bg-targetBorder hover:text-white font-merriweather gap-3"
            data-accordion-target="#accordion-color-body-3"
            aria-expanded="false"
            aria-controls="accordion-color-body-3"
        >
            <span>Comprometida con</span>
            <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
            >
                <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 5 5 1 1 5"></path>
            </svg>
        </button>
    </h2>
    <div
        id="accordion-color-body-3"
        class="hidden bg-beige"
        aria-labelledby="accordion-color-heading-3"
    >
        <div class="p-5 border-2 border-targetBorder">
            <ul class="list-disc pl-5 space-y-2 font-lora">
                <li>Espacio seguro</li>
                <li>Cercanía</li>
                <li>Acompañamiento</li>
                <li>Calidad profesional</li>
                <li>Dedicación</li>
                <li>Formación continua</li>
            </ul>
        </div>
    </div>
</div>
