---
const { speciality } = Astro.props;
---

<div class="bg-green-50 p-3 rounded-lg border-l-4 border-corporate min-w-max">
    <p class="text-sm font-semibold text-targetText">{speciality}</p>
</div>
