<!-- <footer class="bg-white dark:bg-darksecondary lg:mt-2">
    <div class="w-full max-w-7xl mx-auto p-6 md:py-8 font-merriweather">
        <div class="md:flex md:items-center md:justify-between">
            <a
                href="/"
                class="flex justify-center items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
            >
                <img
                    src="/images/logo.png"
                    alt="Logo Anabel Santana Centro Psicología"
                    class="object-cover object-center w-48"
                />
            </a>
            <ul
                class="flex flex-col md:flex-row md:items-center mb-6 text-sm lg:text-base font-medium text-grey-700 sm:mb-0 lg:pr-2 pt-4 md:pt-0 space-y-2 md:space-y-0"
            >
                <li class="mb-2 sm:mb-0 mx-auto md:mx-0">
                    <a
                        href="/politica-de-privacidad"
                        class="hover:underline me-4 md:me-6 hover:text-corporate hover:font-semibold transition-all duration-200"
                        >Política de privacidad</a
                    >
                </li>
                <li class="mb-2 sm:mb-0 mx-auto md:mx-0">
                    <a
                        href="/aviso-legal"
                        class="hover:underline me-4 md:me-6 hover:text-corporate hover:font-semibold transition-all duration-200"
                        >Aviso legal</a
                    >
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-800 sm:mx-auto lg:my-8" />
        <span class="block text-sm text-gray-700 sm:text-center"
            >Copyright © 2024 - <a
                href="/"
                class="hover:underline hover:text-corporate hover:font-semibold transition-all duration-200"
                >Anabel Santana Centro de Psicología</a
            >. Todos los derechos reservados • Web desarrollada por <a
                href="https://www.linkedin.com/in/rubenpozosuarez/"
                target="_blank"
                rel="noopener noreferrer"
                class="underline hover:text-corporate hover:font-semibold transition-all duration-200"
                >Rubén Pozo Suárez</a
            ></span
        >
    </div>
</footer> -->
<footer class="bg-white relative">
    <div class="mx-auto w-full max-w-screen-xl py-6 lg:py-8">
        <div
            class="absolute inset-0 bg-cover bg-center filter grayscale opacity-80"
        >
        </div>
        <div
            class="relative flex flex-col items-center text-center md:flex-row justify-center"
        >
            <div
                class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-8 lg:gap-36 text-sm md:text-base lg:text-lg"
            >
                <div>
                    <h2
                        class="mb-3 font-bold text-gray-700 uppercase text-sm lg:text-base font-merriweather"
                    >
                        Contacto
                    </h2>
                    <div
                        class="text-gray-700 font-normal text-sm lg:text-base font-lora"
                    >
                        <p class="md:px-3">
                            Centro de psicología<br />
                            Rbla. de Pedro Lezcano Montalvo, 64<br /> 35200 Telde,
                            Las Palmas
                        </p>
                        <p>
                            +34 664 20 67 62<br />
                            santanacalcines@gmail.com
                        </p>
                    </div>
                </div>
                <div>
                    <h2
                        class="mb-3 text-sm lg:text-base font-bold text-gray-700 uppercase font-merriweather"
                    >
                        Horario
                    </h2>
                    <div
                        class="text-gray-700 font-normal text-sm lg:text-base font-lora"
                    >
                        <p>Lunes a viernes</p>
                        <p class="font-extralight">9:00 - 21:00</p>
                    </div>
                </div>
                <div>
                    <h2
                        class="mb-3 text-sm lg:text-base font-bold text-gray-700 uppercase font-merriweather"
                    >
                        Legal
                    </h2>
                    <div
                        class="text-gray-700 font-normal text-sm lg:text-base font-lora"
                    >
                        <p>
                            <a
                                href="/politica-de-privacidad"
                                class="hover:underline hover:text-goldMedium hover:font-bold hover:text-corporate"
                                >Política de privacidad</a>
                        </p>
                        <p>
                            <a
                                href="/aviso-legal"
                                class="hover:underline hover:text-goldMedium hover:font-bold hover:text-corporate"
                                >Aviso legal</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-800 sm:mx-auto lg:my-8" />
        <div
            class="relative sm:flex items-center justify-center px-6 font-merriweather"
        >
            <span class="block text-sm text-gray-700 sm:text-center"
                >Copyright © 2025 - <a
                    href="/"
                    class="hover:underline hover:text-corporate hover:font-semibold transition-all duration-200"
                    >Anabel Santana Centro de Psicología</a
                >. Todos los derechos reservados • Web desarrollada por <a
                    href="https://rubenpozosuarez.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="underline hover:text-corporate hover:font-semibold transition-all duration-200"
                    >Rubén Pozo Suárez</a
                ></span
            >
        </div>
    </div>
</footer>
