<footer class="bg-white dark:bg-darksecondary lg:mt-2">
    <div class="w-full max-w-7xl mx-auto p-6 md:py-8 font-merriweather">
        <div class="md:flex md:items-center md:justify-between">
            <a
                href="/"
                class="flex justify-center items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
            >
                <img
                    src="/images/logo.png"
                    alt="Logo Anabel Santana Centro Psicología"
                    class="object-cover object-center w-48"
                />
            </a>
            <ul
                class="flex flex-col md:flex-row md:items-center mb-6 text-sm lg:text-base font-medium text-grey-700 sm:mb-0 lg:pr-2 pt-4 md:pt-0 space-y-2 md:space-y-0"
            >
                <li class="mb-2 sm:mb-0 mx-auto md:mx-0">
                    <a
                        href="/"
                        class="hover:underline me-4 md:me-6 hover:text-corporate hover:font-semibold transition-all duration-200"
                        >Política de privacidad</a
                    >
                </li>
                <li class="mb-2 sm:mb-0 mx-auto md:mx-0">
                    <a
                        href="/"
                        class="hover:underline me-4 md:me-6 hover:text-corporate hover:font-semibold transition-all duration-200"
                        >Aviso legal</a
                    >
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-800 sm:mx-auto lg:my-8" />
        <span class="block text-sm text-gray-700 sm:text-center"
            >Copyright © 2024 - <a href="/" class="hover:underline hover:text-corporate hover:font-semibold transition-all duration-200"
                >Anabel Santana Centro de Psicología</a
            >. Todos los derechos reservados • Web desarrollada por <a
                href="https://www.linkedin.com/in/rubenpozosuarez/"
                class="underline hover:text-corporate hover:font-semibold transition-all duration-200">Rubén Pozo Suárez</a
            ></span
        >
    </div>
</footer>
