---
import FacebookIcon from "../assets/icons/socialNetworks/facebookIcon.astro";
import InstagramIcon from "../assets/icons/socialNetworks/instagramIcon.astro";
import LinkedinIcon from "../assets/icons/socialNetworks/linkedinIcon.astro";
---

<section class="max-w-7xl mx-auto items-center justify-center py-12 px-6 md:px-12 lg:px-16">
  <h2 class="text-3xl lg:text-4xl font-semibold font-merriweather text-corporate mb-8 md:mb-12 text-center">Nuestras redes sociales</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-3 md:gap-6">
    <!-- Facebook -->
    <a
      href="https://www.facebook.com/Anabel-Santana-Centro-de-Psicolog%C3%ADa-105887432124312"
      target="_blank"
      rel="noopener noreferrer"
      class="flex justify-center items-center gap-4 p-4 bg-white shadow-md rounded-md transform transition duration-300 hover:scale-105"
    >
      <div class="size-10 text-white">
        <FacebookIcon />
      </div>
      <span class="text-lg font-semibold text-gray-700 font-merriweather">Facebook</span>
    </a>

    <!-- Instagram -->
    <a
      href="https://www.instagram.com/anabelsantanapsicologa/"
      target="_blank"
      rel="noopener noreferrer"
      class="flex justify-center items-center gap-4 p-4 bg-white shadow-md rounded-md transform transition duration-300 hover:scale-105"
    >
      <div class="size-10">
        <InstagramIcon />
      </div>
      <span class="text-lg font-semibold text-gray-700 font-merriweather">Instagram</span>
    </a>

    <!-- LinkedIn -->
    <a
      href="https://www.linkedin.com/in/anabel-santana-calcines-175b36116/?originalSubdomain=es"
      target="_blank"
      rel="noopener noreferrer"
      class="flex justify-center items-center gap-4 p-4 bg-white shadow-md rounded-md transform transition duration-300 hover:scale-105"
    >
      <div class="size-10">
        <LinkedinIcon />
      </div>
      <span class="text-lg font-semibold text-gray-700 font-merriweather">LinkedIn</span>
    </a>
  </div>
</section>
