<style>
    .whatsapp-button {
      position: fixed;
      bottom: 60px;
      right: 20px;
      z-index: 1000; 
    }
  </style>
  
  <a
      href="https://wa.me/+34664206762"
      target="_blank"
      rel="noopener noreferrer"
      class="whatsapp-button flex items-center bg-corporate hover:bg-green-800 text-white font-bold py-2 px-2 rounded-full"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/124/124034.png"
        alt="WhatsApp"
        class="rounded-full w-14 h-14 lg:w-10 lg:h-10"
      />
      <span class="ml-2 hidden lg:inline">Contáctanos</span>
    </a>