---
import Button from "../button.astro";
import VerticalCarousel from "../verticalCarousel.astro";
import HorizontalCarousel from "../horizontalCarousel.astro";
---

<section
    class="max-w-7xl mx-auto flex flex-col lg:flex-row items-center justify-center gap-12 py-12 px-6 md:px-12 lg:px-16"
>
    <div
        class="w-full lg:w-1/2 flex flex-col justify-center items-center lg:items-start text-center lg:text-left gap-4 mb-6 lg:mb-0"
    >
        <h2 class="text-4xl font-bold font-lora text-corporate">
            Nuestro Centro
        </h2>
        <div
            class="w-full md:w-2/3 px-4 lg:hidden flex mx-auto justify-center mb-4"
        >
            <HorizontalCarousel />
        </div>
        <h3 class="text-2xl md:text-3xl font-semibold font-lora text-secondary">
            ¿Qué hace especial a nuestro centro?
        </h3>
        <p class="text-gray-600 text-base md:text-lg font-merriweather">
            Nuestro Centro de Psicología está ubicado en el corazón de Telde, y
            se trata de un espacio diseñado con el máximo cuidado y atención al
            detalle para proporcionar un entorno cálido y acogedor. Nuestro
            compromiso es ofrecer un lugar donde cada persona pueda sentirse
            segura y comprendida en su proceso hacia el bienestar emocional y
            desarrollo personal.
        </p>
        <p class="text-gray-600 text-base md:text-lg font-merriweather">
            Creemos firmemente en que cada individuo es único, por lo que
            nuestro equipo trabaja para proporcionarte un trato cercano y
            personalizado en cada sesión. Te invitamos a conocernos y dar el
            primer paso hacia tu bienestar.
        </p>
        <Button href="/centro" title="Conoce nuestro centro" />
    </div>
    <div class="lg:w-1/2 hidden lg:flex">
        <VerticalCarousel />
    </div>
</section>
