<section class="relative w-full h-[300px] bg-fixed bg-center bg-cover bg-no-repeat" style="background-image: url('/images/parallax.webp');">
    <div class="absolute inset-0 bg-black bg-opacity-60 flex items-center justify-center">
      <div class="text-center text-white px-6" data-aos="fade-down">
        <p class="text-lg md:text-2xl font-merriweather font-medium mb-4">
            <span class="text-3xl md:text-4xl lg:text-6xl font-bold text-secondary">&ldquo;</span>
            El pasado no puede cambiarse ni borrarse, pero definitivamente, es posible dejar de sufrir por él.
            <span class="text-3xl md:text-4xl lg:text-6xl font-bold text-secondary">&rdquo;</span>
        </p>
        <p class="text-base md:text-xl font-light italic">
          (Jaques Roques). Psicoanalista, experto en EMDR y terapia familiar
        </p>
      </div>
    </div>
  </section>