<section
    class="max-w-7xl mx-auto items-center justify-center gap-12 py-12 px-6 md:px-12 lg:px-16"
>
    <h2 class="text-3xl lg:text-4xl font-semibold text-corporate text-center mb-8 font-merriweather">
        La experiencia de nuestros pacientes
    </h2>
    <script src="https://static.elfsight.com/platform/platform.js" async
    ></script>
    <div
        class="elfsight-app-21b9b071-b05d-4979-a6e8-176d6f1f0a1b"
        data-elfsight-app-lazy
    >
    </div>
</section>
