---
import AdultIcon from "../../assets/icons/adultIcon.astro";
import ChildrenIcon from "../../assets/icons/childrenIcon.astro";
import CoupleIcon from "../../assets/icons/coupleIcon.astro";
import FamilyIcon from "../../assets/icons/familyIcon.astro";
import PcIcon from "../../assets/icons/pcIcon.astro";
import YouthIcon from "../../assets/icons/youthIcon.astro";
import OnSiteIcon from "../../assets/icons/onSiteIcon.astro";
import Button from "../button.astro";
---

<section
  class="max-w-7xl mx-auto flex flex-col lg:flex-row items-center justify-center gap-12 py-12 px-6 lg:px-16"
  data-aos="fade-down"
>
  <div class="container mx-auto text-center">
    <h2
      class="text-3xl lg:text-4xl font-semibold font-merriweather text-grey-700 mb-8 md:mb-12"
    >
      ¿En qué podemos ayudarte?
    </h2>
    <div class="flex flex-col gap-6 md:gap-8">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:px-60">
        <div class="flex flex-col items-center">
          <div class="size-24 mb-4 text-corporate">
            <OnSiteIcon />
          </div>
          <p
            class="text-gray-700 font-merriweather text-lg md:text-xl lg:text-2xl font-medium"
          >
            Terapia presencial
          </p>
        </div>
        <div class="flex flex-col items-center">
          <div class="size-24 mb-4 text-corporate">
            <PcIcon />
          </div>
          <p
            class="text-gray-700 font-merriweather text-lg md:text-xl lg:text-2xl font-medium"
          >
            Terapia online
          </p>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-5 gap-6">
        <div class="flex flex-col items-center">
          <div class="size-24 mb-4 text-corporate">
            <ChildrenIcon />
          </div>
          <p
            class="text-gray-700 font-merriweather text-lg md:text-xl lg:text-2xl font-medium"
          >
            Infantil
          </p>
        </div>
        <div class="flex flex-col items-center">
          <div class="size-24 mb-4 text-corporate">
            <YouthIcon />
          </div>
          <p
            class="text-gray-700 font-merriweather text-lg md:text-xl lg:text-2xl font-medium"
          >
            Juvenil
          </p>
        </div>
        <div class="flex flex-col items-center">
          <div class="size-24 mb-4 py-2 text-corporate">
            <AdultIcon />
          </div>
          <p
            class="text-gray-700 font-merriweather text-lg md:text-xl lg:text-2xl font-medium"
          >
            Adulto
          </p>
        </div>
        <div class="flex flex-col items-center">
          <div class="size-24 mb-4 text-corporate">
            <CoupleIcon />
          </div>
          <p
            class="text-gray-700 font-merriweather text-lg md:text-xl lg:text-2xl font-medium"
          >
            Pareja
          </p>
        </div>
        <div class="flex flex-col items-center">
          <div class="size-24 mb-4 text-corporate">
            <FamilyIcon />
          </div>
          <p
            class="text-gray-700 font-merriweather text-lg md:text-xl lg:text-2xl font-medium"
          >
            Familia
          </p>
        </div>
      </div>
    </div>
    <div class="mt-8">
      <Button href="/servicios" title="Conoce nuestros servicios" />
    </div>
  </div>
</section>
