---
import AdultIcon from "../../assets/icons/adultIcon.astro";
import ChildrenIcon from "../../assets/icons/childrenIcon.astro";
import CoupleIcon from "../../assets/icons/coupleIcon.astro";
import FamilyIcon from "../../assets/icons/familyIcon.astro";
import PcIcon from "../../assets/icons/pcIcon.astro";
import YouthIcon from "../../assets/icons/youthIcon.astro";
import OnSiteIcon from "../../assets/icons/onSiteIcon.astro";
import Button from "../button.astro";
import PsychiatryIcon from "../../assets/icons/psychiatryIcon.astro";
import AppleIcon from "../../assets/icons/appleIcon.astro";
---

<section
  class="max-w-7xl mx-auto flex flex-col lg:flex-row items-center justify-center gap-12 py-12 px-6 lg:px-16" data-aos="fade-down" data-aos-duration="2000"
>
  <div class="container mx-auto text-center">
    <h2
      class="text-3xl lg:text-4xl font-semibold font-merriweather text-grey-700 mb-8 md:mb-12" 
    >
      ¿En qué podemos ayudarte?
    </h2>
    <div class="flex flex-col gap-6 md:gap-8">
      <div class="grid grid-cols-2 md:grid-cols-4 gap-6 lg:px-32">
        {[
          { icon: OnSiteIcon, label: "Terapia presencial" },
          { icon: PcIcon, label: "Terapia online" },
          { icon: PsychiatryIcon, label: "Psiquiatría" },
          { icon: AppleIcon, label: "Nutrición" },
        ].map(({ icon: Icon, label }, index) => (
          <div
            class="flex flex-col items-center"
            data-aos="fade-up"
            data-aos-delay={index * 200} 
          >
            <div class="size-24 mb-4 text-corporate">
              <Icon />
            </div>
            <p
              class="text-gray-700 font-merriweather text-lg md:text-xl lg:text-2xl font-medium"
            >
              {label}
            </p>
          </div>
        ))}
      </div>
      <div class="grid grid-cols-2 md:grid-cols-5 gap-6">
        {[
          { icon: ChildrenIcon, label: "Infantil" },
          { icon: YouthIcon, label: "Juvenil" },
          { icon: AdultIcon, label: "Adulto" },
          { icon: CoupleIcon, label: "Pareja" },
          { icon: FamilyIcon, label: "Familia" },
        ].map(({ icon: Icon, label }, index) => (
          <div
            class="flex flex-col items-center"
            data-aos="fade-up"
            data-aos-delay={index * 200}
          >
            <div class="size-24 mb-4 text-corporate">
              <Icon />
            </div>
            <p
              class="text-gray-700 font-merriweather text-lg md:text-xl lg:text-2xl font-medium"
            >
              {label}
            </p>
          </div>
        ))}
      </div>
    </div>
    <div class="mt-8">
      <Button href="/servicios" title="Conoce nuestros servicios" />
    </div>
  </div>
</section>

