name: CI/CD

on:
    push:
        branches:
            - main
jobs:
    docker_build:
        runs-on: ubuntu-latest
        name: build_docker
        steps: 
            - uses: actions/checkout@v4
            - name: login_dockerhub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
            - name: build_app
              uses: docker/build-push-action@v5
              with:
                context: ./
                push: true
                tags: anabelweb/anabelsantana.web:latest
